body {
  background-color: antiquewhite;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}


.container{
  /* display: flex Ajusta el "ancho" al ancho disponible */
  /* display: inline-flex Ajusta el "ancho" al espacio de los contenidos */


  background-color: rgb(29, 220, 226);
  display:flex;

flex-direction: column;
/* Flex-direction: row; Valor por default. Direccion Main Axis -> izq a derecha */
/* Flex-direction: row; Valor por default. Direccion Main Axis -> der a izquierda */

/* Flex-direction: column; Cambia la direcion del axis de arriba hacia abajo */
/* Flex-direction: column-reverse; Cambia la direccion del main axis de abajo hacia arriba */
}

.item{
  background-color: aquamarine;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 32px;
  border: 1px solid black;

  }